<html>
<head>
</head>
<body>
IP addresses: 
<pre>{{.IPAddresses}}</pre>
<br>
Name servers: 
<pre>{{.NameServers}}</pre>
<br>
Current time (UTC): 
<pre>{{.CurrentTime}}</pre>
<br>
The page will reload automatically every 10 seconds.
<script>
setTimeout(() => {
    location.reload();
}, 10000)
</script>
</body>
</html>