<!DOCTYPE html>
<html>
  <head>
    <title>Page Not Found</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="HTTP 404 error page">
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        max-width: 800px;
      }
    </style>
    <link rel="preconnect" href="https://stats.g.doubleclick.net">
    <link rel="preconnect" href="https://www.google.com">
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-124058257-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='analytics.js'></script>
  </head>
  <body>
    <h1>HTTP Error 404</h1>
    <p>Could not find the page {{ .path }} on <a href="/">spencerwgreene.com</a>.</p>
  </body>
</html>
